/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}

/******************************************
/* LAYOUT
/*******************************************/
header, footer {
  height: 100px;
  border: 1px solid black;
  clear: both;
}

section {
  height: 200px;
  width: 33.3333%;
  border: 1px solid black;
  float: left;
}

@media screen and (max-width: 400px) {
  section {
    background: purple;
  }

  header, footer {
    background: pink;
  }
}

@media (min-width: 401px) and (max-width: 999px) {
  section {
    background: orange;
  }
  header, footer {
    background: blue;
  }
}

@media (min-width: 1000px) {
  section {
    background: red;
  }
  header, footer {
    background: plum;
  }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/